*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cart-list-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

    img{
        border-radius: 15px;
    }

    button{
        height: 20px;
        width: 20px;
        border: none;
        background-color: rgba(76,76,76, .7);
        color: white;
        border-radius: 2px;
    }

    button:hover{
        opacity: .4;
    }
}

.cart-list-img{
    width: 100px;
}

.checkout{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px;
    margin-right: 50px;

}