@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita+Swashed:wght@300&display=swap');

$text-font: 'Open Sans', sans-serif;
$font-color: rgb(91,91,91);
$box-shadow : 0px 4px 20px 0px rgba(0, 0, 0, .1);


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cart-list-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-family: $text-font;
    color: $font-color;

    img{
        border-radius: 15px;
    }

    button{
        height: 20px;
        width: 20px;
        border: none;
        background-color: rgba(76,76,76, .7);
        color: white;
        border-radius: 2px;
        font-family: $text-font;
        
    }

    button:hover{
        opacity: .4;
    }
}

.cart-list-img{
    width: 100px;
}

.checkout{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px;
    margin-right: 50px;
   
    p{
        font-family: $text-font;
        color: $font-color;
    }

}

h2{
    display: flex;
    justify-content: center;
    color: $font-color;
    font-family: 'Sansita Swashed', cursive;
    font-size: 42px;
    padding: 10px;   
}

@media only screen and(max-width: 700px){

    

    .cart-list-container{
        padding: 10px;
        font-size: 13px;
        
    
        img{
            border-radius: 15px;
            
        }

        button{
            height: 16px;
            width: 16px;
        }

    }
}