*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.cacti-list-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.item-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cacti-img{
    height: 500px;
    border-radius: 15px;
}

.mapped-cacti-container{
    display: flex;
    flex-direction: row;
   
    
    
    

}