@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita+Swashed:wght@300&display=swap');

$box-shadow : 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
$text-color: rgb(94,94,94);
$text-font: 'Open Sans', sans-serif;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.auth{
    background-image: url("../../images/opuntia.png");
    
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 550px 110px;
    height: 100vh;

    
    
}



.shop-title{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: $text-color;
    font-family: 'Sansita Swashed', cursive;
    font-size: 42px;
}



.auth-input-container{
    display: flex;
    align-items: center;
    justify-content: center;

    

    input{
        
        width: 175px;
        height: 35px;
        border-radius: 4px;
        background-color: rgba(250, 195, 172, .45);
        border: none;
        padding: 5px;
        margin: 10px;
        margin-top: 25px;
        transition: 0.3s all;
        font-family: 'Open Sans', sans-serif;
    }

    input:hover{
        background-color: rgba(250, 195, 172, 1);
        box-shadow: $box-shadow;

    }

    
}

.auth-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    

    button{
        width: 375px;
        height: 35px;
        margin-top: 10px;
        border: none;
        border-radius: 4px;
        background-color:  rgba(250, 195, 172, 1);
        font-size: 16px;
        color: rgb(94,94,94);
        font-family: 'Open Sans', sans-serif;

    }

    button:hover{
        opacity: 0.6;
        box-shadow: $box-shadow
    }
    
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
    margin-top: 50px;
    color: $text-color;
    font-family: $text-font;
    font-size: 16px;
}


